<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Home - APAPEDIA</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar (activeFragment='')}"></nav>
  <div class="container text-center">
    <div class="row pt-5 pb-2">
      <br>
      <h1>
        <b>APAPEDIA</b>
      </h1>
    </div>
  </div>
  </div>

</body>

</html>