<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Profile - APAPEDIA</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar (activeFragment='profile')}"></nav>
    <div class="container pt-5">
        <div class="card mx-auto">
          <h2 class="card-header pt-2 text-center">Profile</h2>
            <div class="card-body">
              <div class="justify-content-center">
                <div class="d-flex justify-content-center">
                <shopicon-bold-account size="xl"></shopicon-bold-account>
                </div>
                <br>

                Name: <br>
                <input class="form-control" type="text" th:field="*{user.name}" disabled />
                <br>

                Email: <br>
                <input class="form-control" type="text" th:field="*{user.email}" disabled />
                <br>

                Address: <br>
                <input class="form-control" type="text" th:field="*{user.address}" disabled />
                <br>

                Category: <br>
                <select class="form-control" th:field="*{user.category}" disabled>
                <option th:value="Official-Store">Official Store</option>
                <option th:value="Biasa">Biasa</option>
                </select>
                <br>

                <div class="text-center">
                    <a class="btn btn-primary" th:href="@{/user/profile/edit/{id}(id=${user.id})}">Edit Profile</a>
                </div>

                <strong>APAPAY</strong> Balance: <br>
                <input required class="form-control" type="number" th:field="*{user.balance}" disabled />
                <br>
                
                <div class="text-center">
                    <a class="btn btn-info" th:href="@{/user/profile/withdraw/{id}(id=${user.id})}">Withdraw <strong>APAPAY</strong></a>
                    <br><br>
                </div>
            
                <div class="text-center">
                    <a class="btn btn-danger" th:href="@{/user/profile/delete/{id}(id=${user.id})}">Delete Account</a>
                </div>
                <br>
                <div class="text-center">
                    <a class="btn btn-secondary" th:href="@{/logout-sso}">Sign Out</a>
                </div>
            </div>
            </div>
        </div>
        <br>
    </div>
</body>