<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Edit Profile - APAPEDIA</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar (activeFragment='profile')}"></nav>
    <div class="container pt-5">
        <div class="card mx-auto">
          <h2 class="card-header pt-2 text-center">Edit Profile</h2>
            <div class="card-body">
              <div class="justify-content-center">
                <div class="d-flex justify-content-center">
                <shopicon-bold-account size="xl"></shopicon-bold-account>
                </div>
                <br>
                <form th:action="@{/user/profile/edit/{id}(id=${user.id})}" th:object="${user}" method="POST">
                    <input class="form-control" type="text" th:field="*{username}" hidden/>
                    
                    Name: <br>
                    <input class="form-control" type="text" th:field="*{name}" />
                    <br>

                    Email: <br>
                    <input class="form-control" type="text" th:field="*{email}" />
                    <br>

                    Address: <br>
                    <input class="form-control" type="text" th:field="*{address}" />
                    <br>

                    Category: <br>
                    <select class="form-control" th:field="*{category}">
                    <option th:value="Official-Store">Official Store</option>
                    <option th:value="Biasa">Biasa</option>
                    </select>
                    <br>

                    <strong>APAPAY</strong> Balance: <br>
                    <input required class="form-control" type="number" th:field="*{balance}" disabled />
                    <br>
                    
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a class="btn btn-secondary" th:href="@{/user/profile/{id}(id=${user.id})}">Back</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>